{% extends 'gdb_base.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block main %}
	<div class="row">
		<aside class="col-3">
			<img class="img-fluid cover-image"
			     src="https://images.igdb.com/igdb/image/upload/t_original/{{ game.cover.url }}.jpg"/>
			<div class="rating-box">
				<div class="rating">
					<h3>Member ratings</h3>
					<div class="progress">
						<div class="progress-bar bg-success" role="progressbar" style="width: {{ game.rating }}%"
						     aria-valuenow="{{ game.rating }}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<p class="rating-details">
						<strong>
							{{ game.rating|number_format(0) }} / 100
						</strong>
						on {{ game.ratingCount }} ratings
					</p>
				</div>
				<div class="rating">
					<h3>Critic ratings</h3>
					<div class="progress">
						<div class="progress-bar bg-success" role="progressbar" style="width: {{ game.aggregatedRating }}%"
						     aria-valuenow="{{ game.aggregatedRating }}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<p class="rating-details">
						<strong>
							{{ game.aggregatedRating|number_format(0) }} / 100
						</strong>
						on {{ game.aggregatedRatingCount }} ratings
					</p>
				</div>
			</div>
		</aside>
		<article class="col-9 game-content">
			<h1 class="game-name">{{ game.name }}</h1>
			<h3 class="game-release">{{ game.releaseDate|date("d F Y") }}</h3>
			<p class="badge-list"><strong>Genres: </strong>
				{% for genre in game.genres %}
					<span class="badge bg-dark">{{ genre.name }}</span>
				{% endfor %}
			</p>
			<p class="badge-list"><strong>Platforms: </strong>
				{% for platform in game.platforms %}
					<span class="badge bg-dark">{{ platform.abbreviation }}</span>
				{% endfor %}
			</p>

			<p class="summary">
				{{ game.summary }}
			</p>

			<div class="screenshots">
				<h3>Screenshots</h3>
				<div id="screenshots-carousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% for screenshot in game.screenshots %}
							<div class="carousel-item {% if screenshot == game.screenshots[0] %}active{% endif %}">
								<img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{ screenshot.url }}.jpg"
								     class="d-block w-100" draggable="false">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#screenshots-carousel"
					        data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#screenshots-carousel"
					        data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

			<div class="videos">
				<h3>Videos</h3>
				<div id="videos-carousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% for video in game.videos %}
							<div class="carousel-item {% if video == game.videos[0] %}active{% endif %}">
								<iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ video.url }}"
								        title="YouTube video player" frameborder="0"
								        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								        allowfullscreen></iframe>
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#videos-carousel"
					        data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#videos-carousel"
					        data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</article>
	</div>
{% endblock %}